/* CSS declarations go here */
div.search-bar {
  margin: auto;
  width: 55%;
  padding: 15px;
}

figure.category-icon {
  padding: 55px;
  font-size: 195%;
  font-style: italic;
  font-family: 'Lato';
  color: #007bff;
  font-weight: 300;
  text-transform: uppercase;
}
